h2= title
form(action=action method="post")
  input(name="email" type="email" value=user.email placeholder="Email")
  input(name="password" type="password" value=user.password placeholder="Password")
  button.btn.btn-info.btn-block.login(type="submit") Envoyer